/*import fonts from fonts.css file*/
@import url(./fonts.css);

/*css variables*/
@import url(./partials/_variables.css);

/* Global Variables*/
@import url(./partials/_global.css);

/* Start Navigation*/
.header_area.main_menu.navbar.navbar-brand {
  padding: 0 2rem 0 5rem;
}
.header_area .main_menu .navbar {
  padding: 1rem 10rem;
}

.header_area .main_menu .nav-item .nav-link {
  font: normal 500 15px/12px var(--openSans); /* font style, weight, size(l/h), font family */
  text-transform: uppercase;

  padding: 1.7rem;
  color: var(--title-color);
}
.header_area .main_menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header_area .main_menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*End Navigation*/

/*=========Start Banner Area=========*/

.site-main .site-banner {
  padding: 7rem;
  background-size: 400px;
}

.site-main .site-banner .site-title h3 {
  padding-top: 20%;
  font-weight: 500;
}
.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 15vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
}
.site-main .site-banner .site-title h1 {
  font-size: 4rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.2rem;
}
.site-main .site-banner .banner-image > img {
  padding: 0 0;
  width: 75%;
  height: 90%;
  margin-left: 5rem;
}
/*--End Banner Area--*/

/*Start About Area*/
.site-main .about-area {
  padding: 5rem;
}

.site-main .about-area .about-image > img {
  padding: 0rem;
  margin-top: 14rem;
  width: 100%;
  height: 90%;
  margin-left: 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font-size: normal bold 49px/60px var(--openSans);
  letter-spacing: 10px;
}
.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}
/*End About Area*/

/* Start Brand Area */

.site-main.brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main.brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}
.site-main .brand-area .first-row .single-brand > img {
  width: 50px;
}

.site-main.brand-area .first-row .col-lg-4 > .single-brand {
  border: 7px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 9rem 0rem;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
  padding-bottom: 7rem;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > {
  width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 10%;
  height: 10%;
  padding-bottom: 1rem 1rem;
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
}
.site-main .brand-area .experience-area span {
  display: block;
}
.site-main .brand-area .experience-area .years-area {
  background: url(../img/box1.png) no-repeat 35px 20px;
  padding: 2rem 0rem;
  width: 40rem;
  height: 18rem;
  padding-left: 5rem;
  text-transform: capitalize;
  position: relative;
}

.site-main .brand-area .experience-area .years-area .years {
  font: normal bold 84px/40px var(--openSans);
  color: var(--primary-color);
}
.site-main .brand-area .experience-area .call-area {
  padding-left: 5rem;
  padding-top: 2rem;
}

/* End Brand Area */

/* Start Services Area */
.site-main .services-area {
  padding: 7rem 2rem;
}
.site-main .services-area .services-title {
  padding: 0 14rem;
}
.site-main .services-area .services-title h1 {
  font-size: 35px;
}
.site-main > .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main .services-area .services .services-img > img {
  padding: 3rem;
  width: 100%;
  height: 50%;
}
.site-main .services-area .services:hover {
  box-shadow: var(--box-shadow);
}

/* End Services Area */

/* Start Project Area */
.site-main .project-area {
  padding: 2rem;
}
.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500px 16px/139px var(--openSans);
  text-transform: uppercase;
}
.site-main .project-area .button-group button + button {
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 600 19px/20px var(--openSans);
}

.site-main .project-area .grid .our-project .image a:hover img {
  filter: brightness(1.2) drop-shadow(1px 8px 30px #b1b1b1);
}
/* End Project Area */

/* Start AboutMe Area */
.site-main .about-area .about-title {
  padding: 7rem;
}

.site-main .about-area .about-title p {
  padding: 0rem 7rem;
}
.site-main .about-area .client {
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  /* margin: 3rem 0rem; */
}

.site-main .about-area .client .client-img {
  padding: 0.5rem;
}
.site-main .about-area .client .about-client {
  padding-top: 1rem;
}
.site-main .about-area .client .about-client p {
  font-size: 14px;
}
.site-main .about-area .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
}
/* End AboutMe Area */

/* Start SubscribeMe Area */
.site-main .subscribe-us-area {
  padding: 7rem;
}

.site-main .subscribe-us-area .subscribe {
  background: url(../img/background1.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 7rem 0rem;
  margin: 3rem auto;
}
.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px var(--openSans);
  color: floralwhite;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: black;
  font: normal 500 17px/20px var(--openSans);
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  padding: 0.7rem 2rem;
}
/* End SubscribeMe Area */

/* Start Footer Area */

footer.footer-area {
  padding: 2rem 0rem;
  background: #cfd8dc;
}

footer.footer-area .social h5 {
  font: normal 500 23px/30px var(--openSans);
}
footer.footer-area .social a > i {
  font-size: 22px;
  padding: 3rem;
  color: whitesmoke;
}
footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}
/* End Footer Area */
